<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5r %d{yyyyMMdd HH:mm:ss.SSS} [%t] %-5le %lo{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer" level="info" />
    <logger name="io.netty" level="info" />
    <logger name="org" level="info" />


    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>